.entrance__input {
  padding: 0 0 8px;
  background-color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #ccc;
}

.entrance__input:focus {
  outline: none;
}

.entrance__input::placeholder {
  color: #c4c4c4;
}
