.header__account-exit-button {
  padding: 0;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
}

@media screen and (max-width: 544px) {
  .header__account-exit-button {
    margin: 0;
  }
}
